@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  transition: background-color 0.3s ease;
}

html.dark {
  background-color: #111827; /* dark:bg-gray-900 */
  color-scheme: dark;
}

/* Apply filter to favicon when html.dark class is present */
html.dark link[rel="icon"] {
  filter: invert(1) brightness(200%);
}

/* Remove filter if html element does not have .dark class (explicitly light or system is light) */
html:not(.dark) link[rel="icon"] {
  filter: none;
}
